body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    gap: 7%;

    background-color: rgb(240, 240, 240);
}

p{
    margin: 0;
    font-family: "Arial";
}

#containerTitulo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#tituloPrimario{
    font-size: 3rem;
    font-weight: bold;
}

#tituloSecundario{
    font-size: 1.5rem;
    font-weight: bold;
}

#subtitulo{
    font-size: 1rem;
    color: gray;
}

#conteinerDasDivs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    width: 100%;
    height: 75%;
}


#conteirerNext60Days{
    background-color: white;
    height: 100%;
    width: 70%;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    gap: 50px;

    padding: 1%;
}

#divQuadradosDia{
    height: 90%;
    display: flex;
    justify-content: start;
    align-items: start;
    align-content: flex-start;

    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;

    overflow-y: auto;
    padding: 0.5%;
    scrollbar-color: purple white; 
}

.quadradoDia{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: white;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;

    height: 153px;
    width: 153px;
}

.diaDaSemana{
    font-size: 1rem;
    color: gray;
}

.dia{
    font-size: 2rem;
    font-weight: bold;
}

.mes{
    color: purple;
    font-weight:600;
}

#containerDailyTasks{
    display: flex;
    flex-direction: column;

    background-color: white;
    height: 100%;
    width: 20%;
    border-radius: 1rem;
    gap: 50px;
    padding: 1%;
}

#divTasks{
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.tarefaNaoFeita{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10px;
    gap: 10px;
    color: rgb(102, 102, 102);

    height: 60px;
    background-color: rgb(240, 240, 240);
    border-radius: 15px;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.2);
}

.tarefaFeita{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10px;
    gap: 10px;
    color: rgb(1, 107, 1);
    text-decoration: line-through;

    height: 60px;
    background-color: rgba(28, 202, 28, 0.432);
    
    border-radius: 15px;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.2);
}

#containerDailyTasks input[type="checkbox"]{
    width: 20px;
    height: 20px; 
    cursor: pointer;
    accent-color: blue;
}

#dataExata{
    color: purple;
    font-weight:600;
}